.DeathnoteFunction {
    background-color: #1a1d20;
    color: white;
    width: 100%;
    margin-top: 50px;
    padding: 30px 30px 30px 30px;
    .DeathnoteFunctionContentWrap {
        .DeathnoteFunctionContentTitle {
            padding-top: 40px;
            font-size: 30px;
            text-align: center;
            color: white;
            // font-weight: bold;
        }
        .DeathnoteFunctionContentImgWrap {
            padding-top: 80px;
            margin: 0 auto;
            // width: 380px;
            max-width: 700px;
            .DeathnoteFunctionContentImg {
                width: 100%;
            }
        }

        .DeathnoteFunctionContentDescription {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;
            font-size: 18px;
            color: white;
            line-height: 30px;
        }
    }
}
