@import "../mixin.scss";




@include mobile {
    

}
  
@include tabletAndDesktop {
    .mainBox{
        width:100%;
        margin: 0 auto;
        text-align: center;
        background-color: black;
        padding-top: 150px;
        
    }

    .mainLogo{
        width: 280px;
    }

    .mainSearch{
        width:500px;
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
    }
    .mainSearchForm{
        display: block;
        width: 500px;
        padding: 15px 150px 18px 17px;
        background: white;
        border: none;
        line-height: 17px;
        font-size: 17px;
        color: #222222;
        box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    }
    .mainSearchFormButton{
        display: inline;
        border: none;
        background-color: black;
        font-weight: 600;
        font-size: 16px;
        color: white;
        outline: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 10px 0 0;
        height: 30px;
        cursor: pointer;
        
    }
    .summonerInfo{
        width:100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: white;
        color: black;
        
    }    
    
    



}
