@import '../mixin.scss';

@include mobile {
    .mainChart {
        // margin-top: 20px;
        // margin-bottom: 20px;
    }

    .mainBox {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: black;
        padding-top: 150px;
    }

    .mainLogo {
        width: 150px;
    }

    .mainDeathnoteDescription {
        margin-top: 20px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }

    .mainSearch {
        width: 340px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        margin-top: 70px;
        background-color: white;
    }
    .mainSearchForm {
        display: flex;
        align-items: center;
        width: 80%;
        // width: 800px;
        height: 35px;
        // padding-left: 18px;

        padding: 5px 5px 5px 8px;
        // padding: 15px 150px 18px 17px;
        background: white;
        border: none;
        line-height: 17px;
        font-size: 13px;
        color: #222222;
        box-sizing: border-box;
        outline: none;
        // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    }
    .mainSearchFormButton {
        display: flex;
        margin-right: 5px;
        width: 50px;
        height: 30px;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: black;
        font-weight: 600;
        font-size: 16px;
        color: white;
        outline: none;
        padding: 5px;
        cursor: pointer;
    }
}

@include tabletAndDesktop {
    .mainChart {
        // margin-top: 20px;
        // margin-bottom: 20px;
    }

    .mainBox {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: black;
        padding-top: 150px;
    }

    .mainLogo {
        width: 280px;
    }

    .mainDeathnoteDescription {
        margin-top: 20px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }
    .mainSearch {
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        margin-top: 70px;
        background-color: white;
    }
    .mainSearchForm {
        display: flex;
        align-items: center;
        width: 80%;
        // width: 800px;
        height: 45px;
        // padding-left: 18px;
        padding: 5px 5px 5px 8px;
        // padding: 15px 150px 18px 17px;
        background: white;
        border: none;
        line-height: 17px;
        font-size: 17px;
        color: #222222;
        box-sizing: border-box;
        outline: none;
        // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    }
    .mainSearchFormButton {
        display: flex;
        margin-right: 5px;
        width: 50px;
        height: 35px;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: black;
        font-weight: 600;
        font-size: 16px;
        color: white;
        outline: none;
        padding: 5px;
        cursor: pointer;
    }
    // .summonerInfo {
    //     width: 100%;
    //     max-width: 800px;
    //     margin: 0 auto;
    //     margin-top: 20px;
    //     padding-bottom: 20px;
    //     background-color: white;
    //     color: black;
    //     .summonerInfoHeader {
    //         display: flex;
    //         align-items: center;
    //         border-bottom: 1px rgb(205, 210, 210) solid;

    //         .summonerInfoHeaderLeft {
    //             padding-left: 15px;
    //             .summonerInfoHeaderLeftName {
    //                 font-size: 22px;
    //                 font-weight: bold;
    //             }
    //             .summonerInfoHeaderLeftLevel {
    //                 padding-top: 5px;
    //                 font-size: 18px;
    //                 font-weight: lighter;
    //             }
    //         }
    //         .summonerInfoHeaderRight {
    //             font-size: 25px;
    //             padding-right: 20px;
    //             margin-left: auto;
    //         }
    //     }
    //     .summonerSubInfo {
    //         width: 780px;
    //         margin: 0 auto;
    //         margin-top: 20px;
    //         margin-bottom: 80px;
    //         // max-width: 800px;
    //         box-shadow: rgba(0, 0, 33, 0.1) 10px 30px 60px 12px;
    //         display: flex;
    //         align-items: center;
    //         // padding-left: 15px;
    //         // padding-right: 15px;
    //         // padding-top: 15px;
    //         // padding-bottom: 15px;

    //         .tierImg {
    //             padding: 10px;
    //             width: 120px;
    //         }
    //         .summonerSubInfoHeaderLeft {
    //             padding-left: 20px;
    //             .summonerSubInfoHeaderLeftTier {
    //                 padding-top: 10px;
    //                 padding-bottom: 5px;
    //                 font-weight: normal;
    //                 font-size: 22px;
    //             }
    //         }
    //         .summonerSubInfoHeaderLeftWinningRate {
    //             font-weight: lighter;
    //             font-size: 18px;
    //         }
    //         .summonerSubInfoHeaderRight {
    //             display: flex;
    //             align-items: center;
    //             text-align: center;
    //             flex-direction: column;
    //             font-size: 30px;
    //             padding: 20px;
    //             margin-left: auto;
    //             .summonerSubInfoHeaderRightCount {
    //                 font-size: 32px;
    //                 font-weight: lighter;
    //             }
    //             .summonerSubInfoHeaderRightScore {
    //                 font-size: 70px;
    //                 font-weight: bold;
    //             }
    //         }
    //     }
    // }

    // .summonerMatchWin {
    //     display: flex;
    //     width: 780px;
    //     background-image: linear-gradient(
    //         45deg,
    //         rgba(0, 136, 204, 0.9),
    //         rgba(0, 136, 204, 0.6)
    //     );
    //     margin: 0 auto;
    //     margin-bottom: 20px;
    //     align-items: center;
    //     box-shadow: rgba(0, 0, 33, 0.05) 0px 30px 60px 12px;
    // }

    // .summonerMatchLose {
    //     display: flex;
    //     width: 780px;
    //     background-image: linear-gradient(
    //         45deg,
    //         rgba(220, 1, 30, 0.9),
    //         rgba(220, 1, 30, 0.6)
    //     );
    //     margin: 0 auto;
    //     margin-bottom: 20px;
    //     align-items: center;
    //     box-shadow: rgba(0, 0, 33, 0.05) 0px 30px 60px 12px;
    // }

    // .summonerMatchKDA {
    //     font-size: 30px;
    //     padding-left: 20px;
    // }
    // .summonerMatchRank {
    //     font-size: 40px;
    //     margin-left: auto;
    //     padding-right: 20px;
    // }

    //    // 소환사 리뷰
    // .summoner-review {
    //   width: 100%;
    //   text-align: left;
    //   padding-top: 30px;
    //   padding-left: 30px;
    //   padding-bottom:80px;

    //   .summoner-review-text {
    //     display: inline-block;
    //     font-size: 50px;
    //     font-weight: lighter;
    //   }

    //   // 리뷰 타입 버튼
    //   .summoner-review-type {
    //     // display: inline-block;
    //     float: right;
    //     margin-right: 100px;
    //     padding-top: 30px;
    //     .summoner-review-type-text {
    //       display: inline-block;
    //       font-size: 30px;
    //       font-weight: lighter;
    //       padding-right: 15px;
    //     }
    //     .summoner-review-type-bad-wrap {
    //       display: inline-block;
    //       background-color: black;
    //       width: 70px;
    //       height: 40px;
    //       line-height: 40px;
    //       text-align: center;
    //       font-size: 20px;
    //       color: white;
    //       font-weight: lighter;
    //       cursor: pointer;
    //       &:hover {
    //         box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    //           0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
    //         font-weight: normal;
    //         font-size: 22px;
    //       }
    //       .summoner-review-type-bad {
    //       }
    //     }
    //     .summoner-review-type-good-wrap {
    //       display: inline-block;
    //       box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    //         0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
    //       width: 70px;
    //       height: 40px;
    //       line-height: 40px;
    //       text-align: center;
    //       font-size: 20px;
    //       font-weight: lighter;
    //       cursor: pointer;
    //       &:hover {
    //         box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.15),
    //           0 4px 24px 0 rgba(0, 0, 33, 0.15), 0 0 1px 0 rgba(0, 0, 33, 0.15);
    //         font-weight: normal;
    //         font-size: 22px;
    //       }
    //       .summoner-review-type-good {
    //       }
    //     }
    //   }
    //   .summoner-review-good-input-wrap {
    //     padding-top: 30px;
    //     text-align: center;
    //     width: 90%;

    //     .summoner-review-good-input {
    //       box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    //         0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
    //       border: 0;
    //       padding-left: 15px;
    //       padding-top: 15px;
    //       width: 100%;
    //       font-size: 20px;
    //     }
    //   }
    //   .summoner-review-bad-input-wrap {
    //     padding-top: 30px;
    //     text-align: center;
    //     width: 90%;

    //     .summoner-review-bad-input {
    //       background-color: black;
    //       color: white;
    //       border: 0;
    //       padding-left: 15px;
    //       padding-top: 15px;
    //       width: 100%;
    //       font-size: 20px;
    //     }
    //   }
    //   .summoner-review-btn-wrap {
    //     width: 80%;
    //     margin: 0 auto;
    //     text-align: right;
    //     .summoner-review-submit-btn {
    //       padding-right: 30px;
    //       font-size: 30px;
    //       font-weight: lighter;
    //       cursor: pointer;
    //       &:hover {
    //         font-weight: normal;
    //       }
    //     }
    //     .summoner-review-close-btn {
    //       font-size: 30px;
    //       color: red;
    //       font-weight: lighter;
    //       cursor: pointer;
    //       &:hover {
    //         font-weight: normal;
    //       }
    //     }
    //   }
    //   .review-view {
    //     width: 90%;
    //     .review-view-bad {
    //       display: block;
    //       width: 100%;
    //       text-align: left;
    //       .review-view-date-bad-wrap {
    //         display: block;
    //         margin-top: 10px;
    //         margin-bottom: 10px;
    //         margin-left: 20px;
    //         .review-view-date-bad {
    //           color: grey;
    //           font-weight: lighter;
    //           font-size: 20px;
    //         }
    //       }
    //       .review-view-content-bad-wrap {
    //         display: block;
    //         width: max-content;
    //         max-width: 90%;
    //         background-color: black;
    //         box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    //           0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
    //         border-radius: 20px;
    //         padding: 20px 20px;
    //         margin-left: 20px;
    //         .review-view-content-bad {
    //           white-space: pre-line;
    //           font-size: 20px;
    //           color: white;
    //           font-weight: lighter;
    //         }
    //       }
    //     }
    //     .review-view-good {
    //       display: block;
    //       width: 100%;
    //       height: auto;
    //       text-align: right;

    //       &:after {
    //         content: "";
    //         clear: both;
    //         display: block;
    //       }
    //       .review-view-date-good-wrap {
    //         display: block;

    //         margin-top: 10px;
    //         margin-bottom: 10px;
    //         margin-right: 20px;

    //         .review-view-date-good {
    //           color: grey;
    //           font-weight: lighter;
    //           font-size: 20px;
    //         }
    //       }
    //       .review-view-content-good-wrap {
    //         display: block;
    //         float: right;
    //         max-width: 90%;
    //         width: max-content;
    //         box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    //           0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
    //         border-radius: 20px;
    //         padding: 20px 20px;
    //         margin-right: 20px;

    //         .review-view-content-good {
    //           white-space: pre-line;
    //           font-size: 20px;
    //           font-weight: lighter;
    //         }
    //       }
    //     }
    //   }
    //   .review-view-close-btn-wrap {
    //     margin-right: 60px;
    //     height: 90px;
    //     line-height: 90px;
    //     margin-top: 20px;

    //     text-align: center;
    //     background-color: rgba(0, 0, 0, 0.8);
    //     box-shadow: 0 -5px 300px -5px rgba(0, 0, 0, 0.8);
    //     font-size: 40px;
    //     font-weight: lighter;
    //     color: white;
    //     cursor: pointer;
    //     &:hover {
    //       background-color: rgba(0, 0, 0, 0.9);
    //       font-weight: normal;
    //       color: white;
    //     }
    //     .review-view-close-btn {
    //     }
    //   }
    //   .review-view-open-btn-wrap {
    //     margin-right: 60px;
    //     height: 90px;
    //     line-height: 90px;
    //     margin-top: -90px;

    //     text-align: center;
    //     background-color: rgba(0, 0, 0, 0.8);
    //     box-shadow: 0 -5px 300px -5px rgba(0, 0, 0, 0.8);
    //     font-size: 40px;
    //     font-weight: lighter;
    //     color: white;
    //     cursor: pointer;
    //     &:hover {
    //       background-color: rgba(0, 0, 0, 0.9);
    //       font-weight: normal;
    //       color: white;
    //     }
    //     .review-view-open-btn {
    //     }
    //   }
    //   .review-none-wrap {
    //     width: 90%;
    //     margin-top: -250px;
    //     text-align: center;
    //     font-weight: lighter;
    //     font-size: 50px;
    //   }
    // }
}
