@import '../mixin.scss';
@import '../color.scss';

.mainBody {
    background-color: black;
}
@include mobile {
    // 검색어 자동 완성
    .mainSearchKeywordWrap {
        width: 338px;
        margin: 0 auto;
        .mainSearchKeyword {
            background-color: #f9fafc;
            padding: 7px 17px 7px 17px;
            cursor: pointer;
            .mainSearchKeywordImg {
                width: 36px;
                height: 36px;
                margin-right: 14px;
                border-radius: 50%;
            }
            .mainSearchKeywordContent {
                text-align: left;
                .mainSearchKeywordSummonerName {
                    display: block;
                    margin-top: 2px;
                    font-size: 14px;
                    line-height: 17px;
                    color: #333;
                }
                .mainSearchKeywordSummonerInfo {
                    display: block;
                    margin-top: 2px;
                    margin-bottom: 5px;
                    line-height: 14px;
                    font-size: 12px;
                    // color: #666;
                }
            }
            &:hover {
                background-color: #e7f5fe;
            }
        }
    }

    .mainChart {
        // margin-top: 20px;
        // margin-bottom: 20px;
    }

    .mainBox {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: black;
        padding-top: 150px;
    }

    .mainLogo {
        width: 150px;
    }

    .mainDeathnoteDescription {
        margin-top: 20px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }

    .mainSearchWrap {
        display: flex;
        height: 50px;
        width: 340px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: $btnColor;
        border-radius: 4px;
        border: 1px solid $mainColor;
        box-sizing: border-box;
        .mainSearchNation {
            background-color: $btnColor;
            color: white;
            padding: 12px 24px;
            border-radius: 4px 0px 0px 4px;
            border: 1px solid $btnColor;
            box-sizing: border-box;
            display: flex;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .mainSearch {
            padding: 12px 24px;
            background-color: white;
            flex: 1 1 0%;
            box-sizing: border-box;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 0px 4px 4px 0px;
            .mainSearchForm {
                width: 160px;
                font-size: 15px;
                line-height: 1.6;
                background: transparent;
                outline: none;
                border: none;
            }
            .mainSearchFormButton {
                cursor: pointer;
            }
        }
    }
}

@include tabletAndDesktop {
    // 검색어 자동 완성
    .mainSearchKeywordWrap {
        width: 618px;
        margin: 0 auto;
        margin-top: 2px;
        box-sizing: border-box;
        .mainSearchKeyword {
            background-color: #f9fafc;
            padding: 7px 17px 7px 17px;
            cursor: pointer;
            .mainSearchKeywordImg {
                width: 36px;
                height: 36px;
                margin-right: 14px;
                border-radius: 50%;
            }
            .mainSearchKeywordContent {
                text-align: left;
                .mainSearchKeywordSummonerName {
                    display: block;
                    margin-top: 2px;
                    font-size: 14px;
                    line-height: 17px;
                    color: #333;
                }
                .mainSearchKeywordSummonerInfo {
                    display: block;
                    margin-top: 2px;
                    margin-bottom: 5px;
                    line-height: 14px;
                    font-size: 12px;
                    color: #666;
                }
            }
            &:hover {
                background-color: #e7f5fe;
            }
        }
    }

    .mainChart {
        // margin-top: 20px;
        // margin-bottom: 20px;
    }

    .mainBox {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: black;
        padding-top: 150px;
    }

    .mainLogo {
        width: 280px;
    }

    .mainDeathnoteDescription {
        margin-top: 20px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }

    .mainSearchWrap {
        display: flex;
        min-width: 340px;
        height: 50px;
        width: 620px;
        margin: 0 auto;
        margin-top: 60px;
        background-color: $btnColor;
        border-radius: 4px;
        border: 1px solid $mainColor;
        box-sizing: border-box;
        .mainSearchNation {
            background-color: $btnColor;
            color: white;
            padding: 12px 24px;
            border-radius: 4px 0px 0px 4px;
            border: 1px solid $btnColor;
            box-sizing: border-box;
            display: flex;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .mainSearch {
            padding: 12px 24px;
            background-color: white;
            flex: 1 1 0%;
            box-sizing: border-box;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 0px 4px 4px 0px;
            .mainSearchForm {
                width: 400px;
                font-size: 15px;
                line-height: 1.6;
                background: transparent;
                outline: none;
                border: none;
            }
            .mainSearchFormButton {
                cursor: pointer;
            }
        }
    }
}
