$pointColor: #28e3a3;
$navItemColor: #28e3a3;
$btnColor: #28e3a3;
$subColor: #1a1d20;
$mainColor: #000000;
$backgroundColor: #eaeaea;
// if (tier === 'CHALLENGER') {
//     temp = '#FF0061';
// } else if (tier === 'DIAMOND') {
//     temp = '#00B3FC';
// } else if (tier === 'PLATINUM') {
//     temp = '#28E3A3';
// } else if (tier === 'GOLD') {
//     temp = '#EC9A01';
// } else if (tier === 'SILVER') {
//     temp = '#435F7A';
// } else {
//     temp = '#AE5701';
