$pointColor: #ff0061;
$navItemColor: #28e3a3;
$btnColor: #28e3a3;
$btnSubColor: rgb(40, 208, 163);
$subColor: #1a1d20;
$mainColor: #000000;
$backgroundColor: #eaeaea;
$reportColor: #ff0061;
$nonReportColor: #00b3fc;
$sub2Color: rgb(49, 49, 60);

// if (tier === 'CHALLENGER') {
//     temp = '#FF0061';
// } else if (tier === 'DIAMOND') {
//     temp = '#00B3FC';
// } else if (tier === 'PLATINUM') {
//     temp = '#28E3A3';
// } else if (tier === 'GOLD') {
//     temp = '#EC9A01';
// } else if (tier === 'SILVER') {
//     temp = '#435F7A';
// } else {
//     temp = '#AE5701';
