// Breakpoints
$breakpoint-mobile: 330px;
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1024px;

$mainHeaderHeight: 64px;
$mainHeaderHeightMobile: 35px;

$MainMarginTop: 64px;
$MainMobileMarginTop: 128px;
