@import '../color.scss';
@import '../variables.scss';
@import '../mixin.scss';
// .DeathnoteSearchWrap {
// }
// .DeathnoteSearch {
//     // float:right;
//     // display:flex;
//     width: 340px;
//     height: 40px;
//     display: flex;
//     // margin: auto;
//     // margin-right: 50px;
//     align-items: center;
//     // position: relative;
//     background-color: white;
// }
// .SearchBox {
//     display: flex;
//     align-items: center;
//     width: 80%;
//     height: 35px;
//     padding-left: 18px;
//     background: white;
//     border: none;
//     line-height: 17px;
//     font-size: 16px;
//     color: #222222;
//     box-sizing: border-box;
//     outline: none;
// }
// .SearchButton {
//     margin-left: auto;
//     width: 40px;
//     align-items: center;
//     border: none;
//     background-color: black;
//     font-size: 16px;
//     color: white;
//     outline: none;
//     margin-right: 10px;
//     height: 30px;
//     width: 60px;
//     cursor: pointer;
//     &:hover {
//         box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
//             0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
//         font-weight: bold;
//     }
// }

@include mobile {
    .DeathnoteSearchKeywordWrap {
        top: 126px !important;
    }
}

.DeathnoteSearchWrap {
    display: flex;
    min-width: 340px;
    height: 40px;
    background-color: $btnColor;
    border-radius: 4px;
    border: 1px solid $mainColor;
    box-sizing: border-box;
    .DeathnoteSearchNation {
        // background-color: $mainColor;
        background-color: $btnColor;
        color: white;
        padding: 12px 24px;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid $btnColor;
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .DeathnoteSearch {
        padding: 12px 24px;
        background-color: $backgroundColor;
        // color: rgb(103, 102, 118);
        // background: rgb(49, 49, 60);
        flex: 1 1 0%;
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 0px 4px 4px 0px;
        .SearchBox {
            font-size: 15px;
            line-height: 1.6;
            background: transparent;
            outline: none;
            border: none;
        }
        .SearchButton {
            cursor: pointer;
        }
    }
    .DeathnoteSearchKeywordWrap {
        position: absolute;
        width: 338px;
        max-height: 1000px;
        z-index: 9999;
        top: 60px;
        opacity: 1;
        display: block;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        overflow: auto;
        text-align: left;

        .DeathnoteSearchKeyword {
            padding: 7px 17px;
            overflow: hidden;
            width: 100%;
            box-sizing: border-box;
            background: #fff;
            cursor: pointer;
            &:hover {
                background-color: #e7f5fe;
            }
            .DeathnoteSearchKeywordImg {
                float: left;
                width: 32px;
                height: 32px;
                margin-right: 14px;
                border-radius: 50%;
            }
            .DeathnoteSearchKeywordContent {
                float: left;
                margin-top: 2px;
                .DeathnoteSearchKeywordName {
                    margin-top: 2px;
                    font-family: sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    color: #333;
                }
                .DeathnoteSearchKeywordSummonerInfo {
                    margin-top: 2px;
                    line-height: 14px;
                    font-size: 12px;
                    color: #666;
                }
            }
        }
    }
}
