@import '../color.scss';
@import '../mixin.scss';

@include mobile {
    .DeathnoteReportGraphWrap {
        .DeathnoteReportGraphText {
        }

        .DeathnoteReportGraph {
        }
    }
}

.DeathnoteReportGraphWrap {
    margin-top: 8px;
    border-radius: 4px;
    background-color: rgb(49, 49, 60);
    box-sizing: border-box;
    .DeathnoteReportGraphText {
        border-bottom: 1px solid rgb(28, 28, 31);
        color: rgb(195, 195, 211);
        padding: 12px 16px;
        align-self: stretch;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: normal;
    }

    .DeathnoteReportGraph {
        // display:block;
        // padding-bottom: 25%;
        height: 300px;
        border-bottom: 1px solid rgb(28, 28, 31);
        color: rgb(195, 195, 211);
        padding: 16px;
        align-self: stretch;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: normal;
        display: flex;
        flex-wrap: wrap;
    }
}
