@import '../mixin.scss';
@import '../color.scss';

$mainHeaderHeight: 64px;
$mainHeaderHeightMobile: 35px;

@include mobile {
    .MainHeaderWrap {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $mainColor;
    }

    .MainHeader {
        display: flex;
        // height: $mainHeaderHeight;
        height: initial;
        margin: 0 auto;
        flex: 0 1 1000px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
    }

    .MainHeaderLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .MainLogoWrap {
        width: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .MainLogo {
            width: 100%;
        }
    }
    .MainHeaderNavigationWrap {
        .MainHeaderNavigation {
            color: $backgroundColor;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: $mainHeaderHeight;
            .MainHeaderNavigationItem {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 40px;
                box-sizing: border-box;
                // width: 50px;
                height: 100%;
                &:hover {
                    border-bottom: 3px solid $navItemColor;
                    font-weight: bold;
                    color: $navItemColor;
                }
            }
        }
    }
    .MainHeaderSearchBoxWrap {
        display: flex;
        height: $mainHeaderHeight;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@include tabletAndDesktop {
    .MainHeaderWrap {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $mainColor;
    }

    .MainHeader {
        display: flex;
        height: $mainHeaderHeight;
        margin: 0 auto;
        // flex: 0 1 1000px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
    }

    .MainHeaderLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .MainLogoWrap {
        width: 140px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .MainLogo {
            width: 100%;
        }
    }
    .MainHeaderNavigationWrap {
        .MainHeaderNavigation {
            color: $backgroundColor;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: $mainHeaderHeight;
            .MainHeaderNavigationItem {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 40px;
                box-sizing: border-box;
                // width: 50px;
                height: 100%;
                &:hover {
                    border-bottom: 3px solid $navItemColor;
                    font-weight: bold;
                    color: $navItemColor;
                }
            }
        }
    }
    .MainHeaderSearchBoxWrap {
        display: flex;
        height: $mainHeaderHeight;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
