@import '../color.scss';
@import '../mixin.scss';

@include mobile {
    .DeathnoteReportSubmitBtnWrap {
        display: flex !important;
        justify-content: space-between !important;
        text-align: center !important;
    }
    .DeathnoteReportSubmitBtnReport {
        min-width: 40px !important;
        font-size: 14px !important;
    }

    .DeathnoteReportSubmitOKBtnWrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px 16px 12px 16px;
        text-align: right;
    }
    .DeathnoteReportSubmitBtnNonReport {
        min-width: 40px !important;
        font-size: 14px !important;
    }

    .DeathnoteReportSubmitBtnOK {
        min-width: 40px !important;
        font-size: 14px !important;
    }
}

.DeathnoteReportSubmitWrap {
    margin-top: 8px;
    border-radius: 4px;
    background-color: rgb(49, 49, 60);
    box-sizing: border-box;
    .DeathnoteReportSubmitText {
        border-bottom: 1px solid rgb(28, 28, 31);
        color: rgb(195, 195, 211);
        padding: 12px 16px;
        align-self: stretch;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: normal;
    }

    .DeathnoteReportSubmitAlertWrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 12px 16px;
        .DeathnoteReportSubmitAlert {
            text-align: center;
            color: $btnColor;
            background-color: rgba(40, 208, 163, 0.2);
            border: 1px solid $btnColor !important;
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
        }
    }

    .DeathnoteReportSubmitBtnWrap {
        // display: flex;
        // justify-content: center;
        // text-align: center;

        flex: 0 0 100%;
        max-width: 100%;
        padding: 12px 16px;
    }

    .DeathnoteReportSubmitBtnReportIsClicked {
        min-width: 90px;
        text-align: center;
        border: 0;
        padding: 12px 16px;
        color: white;
        border: 1px solid $reportColor !important;
        background-color: rgba(255, 0, 97, 0.5);
        // color: $backgroundColor;
        // border: 1px solid $backgroundColor !important;
        // background-color: rgba(26, 29, 32, 0.2);
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
    }
    .DeathnoteReportSubmitBtnReportIsNotClicked {
        min-width: 90px;
        text-align: center;
        border: 0;
        padding: 12px 16px;
        color: $reportColor;
        border: 1px solid $reportColor !important;
        background-color: rgba(26, 29, 32, 0.2);
        // color: $backgroundColor;
        // border: 1px solid $backgroundColor !important;
        // background-color: rgba(26, 29, 32, 0.2);
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .DeathnoteReportSubmitOKBtnWrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px 16px 12px 16px;
        text-align: right;
    }
    .DeathnoteReportSubmitBtnNonReportIsClicked {
        min-width: 90px;
        text-align: center;
        border: 0;
        margin-left: 10px;
        padding: 12px 16px;
        color: white;
        border: 1px solid $nonReportColor !important;
        background-color: rgba(0, 179, 252, 0.5);
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
    }
    .DeathnoteReportSubmitBtnNonReportIsNotClicked {
        min-width: 90px;
        text-align: center;
        border: 0;
        margin-left: 10px;
        padding: 12px 16px;
        color: $nonReportColor;
        border: 1px solid $nonReportColor !important;
        background-color: rgba(26, 29, 32, 0.2);
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .DeathnoteReportSubmitBtnOK {
        min-width: 90px;
        text-align: center;
        border: 0;
        margin-left: 10px;
        padding: 12px 16px;
        color: #eaeaea;
        border: 1px solid #eaeaea !important;
        background-color: rgba(26, 29, 32, 0.1);
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .DeathnoteReportSubmitTextAreaWrap {
        padding: 12px 16px;

        .DeathnoteReportSubmitTextAreaReport {
            box-sizing: border-box;
            padding: 8px 16px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            width: 100%;
            border: 0;
            background-color: rgba(255, 0, 97, 0.5);
            border: 1px solid rgba(255, 0, 97, 1);
            color: white;
            resize: none;
            &::placeholder {
                color: white;
            }
        }

        .DeathnoteReportSubmitTextAreaNonReport {
            box-sizing: border-box;
            padding: 8px 16px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            width: 100%;
            border: 0;
            background-color: rgba(0, 179, 252, 0.5);
            border: 1px solid rgba(0, 179, 252, 1);
            color: white;
            resize: none;
            &::placeholder {
                color: white;
            }
        }

        .DeathnoteReportSubmitTextArea {
            box-sizing: border-box;
            padding: 8px 16px 16px 8px;
            font-size: 16px;
            border-radius: 4px;
            width: 100%;
            border: 0;
            background-color: rgba(26, 29, 32, 0.2);
            border: 1px solid $subColor;
            color: $backgroundColor;
            resize: none;
        }
    }
    .DeathnoteReportSubmit {
        padding: 8px 16px 16px 8px;
        height: 300px;
        border-bottom: 1px solid rgb(28, 28, 31);
        color: rgb(195, 195, 211);
        padding: 16px;
        align-self: stretch;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: normal;
        display: flex;
        flex-wrap: wrap;
    }
}
