.Rank_Wrap {
    // width: 100%;
    // min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 30px;
}

.Rank_side_content {
    width: 400px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    .Rank_banner {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        .Rank_image_wrap {
            width: 120px;
            text-align: center;
        }
        .Rank_image {
            width: 100%;
        }
        .Rank_text {
            text-align: left;
            padding-left: 10px;
            .Rank_type {
                font-size: 14px;
                color: #879292;
            }
            .Rank_tier {
                font-size: 20px;
                font-weight: bold;
                color: red;
            }
            .Rank_info {
                font-size: 14px;
                text-align: left;
            }
            .Rank_points {
                display: block;
                color: #555e5e;
                font-weight: bold;
            }
            .Rank_WinLose {
                display: block;
                padding-top: 10px;
                font-size: 14px;
                text-align: left;
            }
            .Rank_winratio {
                display: block;
                padding-top: 2px;
                font-size: 14px;
                text-align: left;
            }
        }
    }
}
