.Banner {
    height: 150px;
    margin-left: 30px;
    background-color: white;
    flex-grow: 1;
    background-image: url('https://images6.alphacoders.com/104/thumb-1920-1046459.jpg');
    background-size: 100%;
}
