.Footer {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    .FootPoweredByDeathnote {
        width: 100%;
        display: block;
        line-height: 30px;
        font-size: 15px;
        text-align: center;
    }
    .FooterMenu {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 15px;
        cursor: pointer;
        padding-top: 40px;
        .FooterMenuItem {
            padding-left: 20px;
            padding-right: 20px;
            // width: 120px;
            &:hover {
                font-weight: bold;
            }
        }
    }
}
