.HeaderBox {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    background-color: white;
    // height: 200px;

    .ProfileLeft {
        display: flex;
        align-items: center;
        // width:50%;
        .ProfileImg {
            width: 150px;
        }

        .ProfileBlock {
            width: 300px;
            text-align: left;
            padding-left: 15px;
            // height: 80px;
            .SummonerName {
                font-size: 25px;
                color: black;
                margin-top: 20px;
                font-weight: bold;
            }
            .SummonerLevel {
                color: gray;
                font-size: 14px;
                // margin-top: 5px;
            }

            .UpdateButton {
                margin-top: 10px;
                padding: 10px;
                // width: 80px;
                // height: 35px;
                align-items: center;
                border: none;
                // background-color: #1da2f7;
                font-size: 16px;
                color: white;
                cursor: pointer;
                font-weight: bold;
                &:hover {
                    box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
                        0 4px 24px 0 rgba(0, 0, 33, 0.05),
                        0 0 1px 0 rgba(0, 0, 33, 0.09);
                    // font-weight: bold;
                }
            }
        }
    }
    .ProfileRight {
        // padding-top: 10px;
        // padding-bottom: 10px;
        padding-right: 10px;
        height: 150px;
        display: flex;
        text-align: center;
        align-items: center;

        .DeathnoteScoreWrap {
            display: flex;
            background-color: black;
            justify-content: center;
            text-align: center;
            align-items: center;
            // margin: auto;
            padding-left: 50px;
            // width: 450px;
            height: 130px;
            background-color: #1a1d20;
            color: white;
            font-size: 20px;
            .DeathnoteTierWrap {
                // padding-left: 50px;
                // padding-right: 50px;
                width: 150px;
                text-align: left;
                .DeathnoteTier {
                    font-size: 25px;
                }
                .DeathnotePercentage {
                    padding-top: 5px;
                    font-size: 12px;
                }
            }
            .DeathnoteTierBoxWrap {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                width: 80px;
                height: 80px;
                font-size: 40px;
                font-weight: bold;
            }
            .DeathnoteCommentWrap {
                display: flex;
                width: 400px;
                justify-content: center;
                text-align: center;
                align-items: center;
                flex-direction: column;
                .DeathnoteComment {
                    font-size: 25px;
                    font-weight: bold;
                }
                .DeathnotePower {
                    padding-top: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}
