.HeaderBox{
    display:flex;
    margin: 100px 200px;
    background-color: white;
    height: 120px;
    width: 1000px;
    float: left;
}

.ProfileImg{
    float:left;
    margin: 10px 20px;
    width: 100px;
    height: 100px;
}
.ProfileBlock{
    height: 80px;
    width: 300px;
}
.SummonerName{
    font-size: 20px;
    color: black;
    margin:auto;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.SummonerLevel{
    margin: auto;
    font-weight: bold;
    color: gray;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
}

.UpdateButton{
        margin:auto;
        margin-top: 10px;
        margin-left:10px;
        width: 80px;
        height: 30px;
        align-items: center;
        border: none;
        background-color: black;
        font-size: 13px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 600;
}
.CommentBox{
    display:flex;
    background-color: black;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 450px;
    height: 100px;
    color: white;
    font-size: 20px;
    
}
